.#{$prefix}-container {
  .hidden {
    display: none;
  }

  .clickable {
    cursor: pointer;
    color: #0073aa;

    &:hover {
      color: #00a0d2;
    }
  }

  .text-right {
    text-align: right !important;
  }

  .disabled {
    color: grey;
    cursor: default;

    &:hover {
      color: grey;
    }
  }

  .#{$prefix}-heading {
    margin-top: 2em;
  }

  .adwpfw-tooltip {
    position: relative;

    .tooltiptext {
      visibility: hidden;
      width: 200px;
      background-color: black;
      color: white;
      text-align: center;
      border-radius: 6px;
      position: absolute;
      z-index: 1;
      top: calc(100% + 8px);
      left: 50%;
      margin-left: -110px;
      opacity: 0;
      transition: opacity .5s;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
      font-size: 12px;
      padding: 8px 10px;
      line-height: 1.5;

      &::after {
        content: " ";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border: 5px solid transparent;
        border-bottom-color: black;
      }
    }

    &:hover {
      .tooltiptext {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .#{$prefix}-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    max-width: 50rem;

    .#{$prefix}-label {
      flex: 0 0 30%;
      font-size: 14px;
      font-weight: 600;
      align-self: center;
    }

    .#{$prefix}-control {
      flex: 0 0 70%;
    }

    .#{$prefix}-help-tip {
      font-size: 16px;
      width: 16px;
      height: 16px;
      margin: 0 8px;
      cursor: help;
      color: #777;
      visibility: hidden;
    }

    label.error {
      color: red;
      margin-left: 10px;
    }

    input.error, select.error {
      border: 1px solid red !important;
    }

    ul {
      list-style-type: disc;
      padding-left: 17px;
    }

    table {
      margin: .5rem 0;

      th, td {
        padding: 0 .5rem .5rem 0;
        text-align: left;
      }

      th {
        font-weight: 600;
      }
    }
  }

  .form-control {
    width: 100%;
    padding: 6px 8px;
    color: #505050;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-sizing: border-box;
  }

  input[type="number"].form-control {
    padding: 15px 8px;
  }

  select.form-control {
    height: 32px;
    padding: 5px 8px;
  }

  textarea.form-control {
    height: 100px;
  }

  .#{$prefix}-tabs-header {
    margin-bottom: 20px;

    span {
      cursor: pointer;

      &:hover {
        color: #464646;
      }
    }

    .nav-tab-active {
      color: #464646;
      cursor: default;
    }
  }

  .#{$prefix}-tab {
    display: none;
    border: none;

    .#{$prefix}-actions-selector {
      .form-control {
        width: auto;
      }

      .button {
        height: 32px;
      }
    }

    .actions-bar {
      .button {
        margin-right: 5px;
      }
    }
  }

  .adwpfw-select2 + .select2 {
    .select2-selection--single {
      height: 32px;

      .select2-selection__rendered {
        padding-left: 13px;
      }

      .select2-selection__arrow {
        height: 30px;
      }
    }
  }

  .#{$prefix}-loader {
    display: none;
    float: right;
    position: relative;
    border: 2px solid rgba(0, 133, 186, 0.2);
    border-left: 2px solid #0085ba;
    transform: translateZ(0);
    animation: #{$prefix}-loader 1.1s infinite linear;
    border-radius: 50%;
    width: 15px;
    height: 15px;

    &:after {
      border-radius: 50%;
      width: 15px;
      height: 15px;
    }
  }

  @keyframes #{$prefix}-loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
