.adwpfw {
  textarea {
    min-height: 100px;
  }

  .widefat {
    max-width: none;
  }

  .hidden {
    display: none;
  }

  .bolder {
    font-weight: 600;
  }

  .text-right {
    text-align: right !important;
  }

  .clickable {
    cursor: pointer;
    color: #0073aa;

    &:hover {
      color: #00a0d2;
    }
  }

  .disabled {
    color: grey;
    cursor: default;

    &:hover {
      color: grey;
    }
  }

  .adwpfw-tooltip {
    position: relative;

    .adwpfw-tooltip-wrapper {
      position: absolute;
      left: 50%;

      .adwpfw-tooltip-text {
        visibility: hidden;
        background-color: black;
        color: white;
        text-align: center;
        border-radius: 6px;
        z-index: 1;
        opacity: 0;
        transition: opacity .5s;
        font-family: sans-serif;
        font-size: 12px;
        line-height: 1.5;
        position: relative;
        top: -45px;
        left: -50%;
        margin: 0;
        white-space: nowrap;
        padding: 5px 10px;

        &::after {
          content: " ";
          position: absolute;
          left: 50%;
          bottom: -10px;
          margin-left: -5px;
          border: 5px solid transparent;
          border-top-color: black;        }
      }
    }

    &:hover {
      .adwpfw-tooltip-text {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .adwpfw-heading {
    margin: 1.5em 0 1em 0;
  }

  .adwpfw-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin-bottom: 1rem;

    .adwpfw-label {
      flex: 1 1 30%;
      align-self: center;
      font-size: 14px;
      font-weight: 600;
      position: relative;

      .adwpfw-help-tip {
        position: absolute;
        top: calc(50% - 8px);
        right: 6px;
        flex: 0 0 16px;
        font-size: 16px;
        width: 16px;
        height: 16px;
        color: #777;
        cursor: help;
      }
    }

    .adwpfw-control {
      flex: 1 1 70%;
    }

    label.error {
      color: red;
      margin-left: 10px;
    }

    input.error, select.error {
      border: 1px solid red !important;
    }
  }

  .adwpfw-tabs-header {
    margin-bottom: 20px;

    span {
      cursor: pointer;

      &:hover {
        color: #464646;
      }
    }

    .nav-tab-active {
      color: #464646;
      cursor: default;
    }
  }

  .adwpfw-tab {
    display: none;
    border: none;

    .actions-bar {
      .button {
        margin-right: 5px;
      }
    }
  }

  .adwpfw-select2 + .select2 {
    .select2-selection__choice {
      margin-bottom: 0;
    }

    .select2-search--inline {
      margin: 5px 5px 0 0;

      .select2-search__field {
        width: 100% !important;
        margin: 0 !important;
        line-height: normal;
        min-height: auto;
      }
    }
  }

  .adwpfw-loader {
    display: none;
    float: right;
    position: relative;
    border: 2px solid rgba(0, 133, 186, .2);
    border-left: 2px solid #0085ba;
    animation: adwpfw-loader 1s infinite linear;
    border-radius: 50%;
    width: 15px;
    height: 15px;

    &:after {
      border-radius: 50%;
      width: 15px;
      height: 15px;
    }
  }

  @keyframes adwpfw-loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.adwpfw-metabox {
  margin-top: 1rem;

  .adwpfw-field {
    .adwpfw-label {
      font-weight: normal;
    }
  }

  &.adwpfw-context-side {
    .adwpfw-field {
      .adwpfw-label {
        width: 100%;
        margin-bottom: 1rem;
      }
    }
  }
}