.adwpfw {
  * {
    box-sizing: border-box;
  }

  .d-flex {
    display: flex;
  }

  textarea {
    min-height: 100px;
  }

  .hidden {
    display: none;
  }

  .bolder {
    font-weight: 600;
  }

  .text-right {
    text-align: right !important;
  }

  .clickable {
    cursor: pointer;
    color: #0073aa;

    &:hover {
      color: #00a0d2;
    }
  }

  .disabled {
    color: grey;
    cursor: default;

    &:hover {
      color: grey;
    }
  }

  .adwpfw-heading {
    margin: 1em 0 0 0;
  }

  .adwpfw-fields {
    .adwpfw-field {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 1000px;
      margin-bottom: 1rem;

      .adwpfw-label {
        flex: 0 0 30%;
        align-self: center;
        font-size: 14px;
        font-weight: 600;
        position: relative;

        .adwpfw-help-tip {
          position: absolute;
          top: calc(50% - 8px);
          right: 6px;
          flex: 0 0 16px;
          font-size: 16px;
          width: 16px;
          height: 16px;
          color: #777;
          cursor: help;

          .dashicons {
            font-size: 16px;
          }
        }
      }

      .adwpfw-control {
        width: 100%;

        input[type="text"],
        input[type="number"],
        input[type="search"],
        input[type="email"],
        input[type="url"],
        input[type="password"],
        select,
        textarea {
          width: 100%;
          max-width: none;
        }
      }

      .adwpfw-description {
        margin-left: 1em;
      }

      label.error {
        color: red;
        margin-left: 10px;
      }

      input.error, select.error {
        border: 1px solid red !important;
      }
    }
  }

  .adwpfw-actions-bar {
    margin-top: 2em;
  }

  .adwpfw-tabs-header {
    margin-bottom: 20px;

    span {
      cursor: pointer;

      &:hover {
        color: #464646;
      }
    }

    .nav-tab-active {
      color: #464646;
      cursor: default;
    }
  }

  .adwpfw-tab {
    border: none;

    .actions-bar {
      .button {
        margin-right: 5px;
      }
    }
  }

  .adwpfw-select2 + .select2 {
    .select2-selection__choice {
      margin-bottom: 0;
    }

    .select2-search--inline {
      margin: 5px 5px 0 0;

      .select2-search__field {
        width: 100% !important;
        margin: 0 !important;
        line-height: normal;
        min-height: auto;
      }
    }
  }

  .adwpfw-loader {
    display: none;
    float: right;
    position: relative;
    border: 2px solid rgba(0, 133, 186, .2);
    border-left: 2px solid #0085ba;
    animation: adwpfw-loader 1s infinite linear;
    border-radius: 50%;
    width: 15px;
    height: 15px;

    &:after {
      border-radius: 50%;
      width: 15px;
      height: 15px;
    }
  }

  @keyframes adwpfw-loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.adwpfw-metabox {
  margin: 1rem 0;

  .adwpfw-field {
    .adwpfw-label {
      font-weight: normal;
    }
  }

  &.adwpfw-context-side {
    .adwpfw-field {
      flex-wrap: wrap;

      .adwpfw-label {
        flex: 0 0 100%;
        margin-bottom: 1rem;
        font-weight: 600;
      }

      .adwpfw-control {
        flex: 0 0 100%;
      }
    }
  }
}

.adwpfw-widget {
  margin-top: 1rem;
}
